.horizontal-list-section {
  position: relative;
  width: 80vw;
  display: flex;
  overflow-x: scroll;
}

@media (min-width: 919px) {
  .horizontal-list-section {
    width: 60vw;
  }
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
