.welcome-page {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  background-image: url('../images/hero-img.jpg');
  width: 100vw;
  top: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(0, 0, 0, 0.8);
  /* keeps black background from scrolling up */
  overflow: hidden;
}

.welcome-page-body {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.8);
  /* overflow: hidden; */
  height: 100vh;
}

.welcome-logo {
  letter-spacing: 0.25em;
  position: fixed;
  top: 1em;
}

/* LEFT SIDE */

.left-side {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: fixed;
  margin-top: -1em;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.intro-text-section {
  display: flex;
  flex-direction: column;
  text-align: -webkit-auto;
  position: relative;
  font-size: 1.85em;
  width: max-content;
  margin: 1em;
}

.intro-text {
  background-color: black;
  position: relative;
  width: fit-content;
  color: #ffdb58;
  margin: 0.15em;
  font-size: 1em;
}

/*Vertical Sliding*/
.sliding-vertical {
  display: inline;
  text-indent: 8px;
}
.sliding-vertical span {
  animation: topToBottom 15s linear infinite 0s;
  -ms-animation: topToBottom 15s linear infinite 0s;
  -webkit-animation: topToBottom 15s linear infinite 0s;
  color: #00abe9;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: max-content;
  width: -moz-max-content;
}
.sliding-vertical span:nth-child(2) {
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.sliding-vertical span:nth-child(3) {
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.sliding-vertical span:nth-child(4) {
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.sliding-vertical span:nth-child(5) {
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}
.sliding-vertical span:nth-child(6) {
  animation-delay: 12.5s;
  -ms-animation-delay: 12.5s;
  -webkit-animation-delay: 12.5s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -moz-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -moz-transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -ms-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -ms-transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* RIGHT SIDE */

.background-images {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.scroll-container {
  /* allows  items to overflow*/
  width: 350%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;

  -webkit-transform: rotateX(49deg) rotateY(0deg) rotateZ(39deg);
  transform: rotateX(49deg) rotateY(0deg) rotateZ(39deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  padding-top: 500px;
}

.scroll-section {
  display: flex;
  flex-direction: row;
  margin: 2em;
  opacity: 0.7;
}

.scroll-item {
  position: relative;
  display: flex;
  height: 200px;
  width: 200px;
  margin: 1em;
  background-color: #00abe9;
}

.scroll-item:first-child {
  margin-left: 200px;
}

/* MEDIA QUERIES:
Breakpoints: 
- make left smaller than right
- right side will change size based on the frame size
- once we hit mobile, stack images on top with text on bottom
*/
