.logo-container {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.logo-container a {
  text-decoration: none;
  color: white;
}

#logo-abbreviation {
  margin: 0;
  letter-spacing: 0.25em;
}

#logo-small-text {
  letter-spacing: 0.1em;
}
