.button {
  color: white;
  font-family: 'Rasa', serif;
  padding: 1em;
  font-size: 0.85em;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid lightgrey 1px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 2em;
  cursor: pointer;
}

.button:hover {
  animation: pulse 1s infinite;
  color: aquamarine;
}
