.button-row {
  display: flex;
  justify-content: center;
  position: relative;
  height: 4em;
  margin: 2.25em;
}

.button {
  color: white;
  font-family: 'Rasa', serif;
  padding: 1em;
  font-size: 0.95em;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid lightgrey 1px;

  cursor: pointer;
}

.button:hover {
  animation: pulse 1s infinite;
  color: aquamarine;
}
