.button-row {
  display: flex;
  justify-content: center;
  position: relative;
  height: 3em;
  top: 50%;
  transform: translate(0%, -50%);
  margin: 1em;
}

.button {
  color: white;
  font-family: 'Rasa', serif;
  padding: 1em;
  font-size: 0.85em;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid lightgrey 1px;

  cursor: pointer;
}

.button:hover {
  animation: pulse 1s infinite;
  color: aquamarine;
}
