.nav {
  position: relative;
  top: 0;
  width: 100%;
  padding: 1em;
  height: 190px;
  right: 0;
  overflow: visible;
  border-bottom: solid white 2px;
  background: url('../images/hero-img.jpg') center no-repeat;
  background-size: cover;
}

.nav-links {
  display: flex;
  flex-direction: row;
  float: right;
  position: absolute;
  right: 3em;
}

.nav-link {
  list-style: none;
  margin-left: 1em;
}

.nav-link a {
  text-decoration: none;
  color: white;
}

.nav-link:hover a {
  color: aquamarine;
  text-decoration: underline;
}

.intro-text-section {
  display: flex;
  flex-direction: column;
  text-align: -webkit-auto;
  position: relative;
  top: 50px;
  width: max-content;
}

.intro-text {
  background-color: black;
  position: relative;
  width: fit-content;
  color: #ffdb58;
}
