.nav {
  position: relative;
  display: flex;
  align-items: flex-end;
  top: 0;
  width: 100%;
  padding: 1em;
  height: 320px;
  right: 0;
  overflow: visible;
  border-bottom: solid white 2px;
  background: url('../images/hero-img.jpg') center no-repeat;
  background-size: cover;
}

.nav-links {
  display: flex;
  flex-direction: row;
  float: right;
  position: absolute;
  right: 3em;
  top: 1em;
}

.nav-link {
  list-style: none;
  margin-left: 1.5em;
}

.nav-link a {
  font-size: 1.15em;
  text-decoration: none;
  color: white;
}

.nav-link:hover a {
  color: aquamarine;
  text-decoration: underline;
}

.intro-text-section {
  display: flex;
  flex-direction: column;
  text-align: -webkit-auto;
  position: relative;
  font-size: 1.85em;
  width: max-content;
  margin-top: 3em;
  margin-bottom: 1.1em;
  margin-left: 10em;
  margin-right: 2em;
}

.intro-text {
  background-color: black;
  position: relative;
  width: fit-content;
  color: #ffdb58;
  margin: 0.15em;
}
