.nav {
  position: relative;
  display: flex;
  align-items: flex-end;
  top: 0;
  width: 100%;
  padding: 1em;
  height: 80px;
  right: 0;
  overflow: visible;
  border-bottom: solid white 2px;
  background: url('../images/hero-img.jpg') center no-repeat;
  background-size: cover;
}

.nav-links {
  display: flex;
  flex-direction: row;
  float: right;
  position: absolute;
  right: 3em;
  top: 1em;
}

.nav-link {
  list-style: none;
  margin-left: 1.5em;
}

.nav-link a {
  font-size: 1.15em;
  text-decoration: none;
  color: white;
}

.nav-link:hover a {
  color: aquamarine;
  text-decoration: underline;
}
